/* 
    Created on : 27 May, 2017, 7:27:55 PM
    Author     : Siddhesh Rane 
*/

#diagnosticsText {
    -fx-text-fill : #696969;
}

.tree-table-row-cell:selected{
    -fx-background-color:#000000aa;
}

.summary .key {
    -fx-text-fill: #387892;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-wrap-text:true;
    -fx-font-smoothing-type: gray;
    -fx-text-alignment:right;
}
.summary .value {
    -fx-font: 14px "Noto Sans";
}
.summary .header {
    -fx-font-weight:bold;
    -fx-font-size:1em;
    -fx-text-fill:#8d8d8d;
}

.metadata-controls {
    -fx-padding: 5px;
    -fx-spacing: 5px;
}