/* 
    Created on : 27 May, 2017, 7:27:55 PM
    Author     : Siddhesh Rane 
*/

#diagnosticsText {
    -fx-text-fill : #696969;
}

.latlongspinner .increment-arrow-button {
    visibility: hidden;
}

.eye, .hand {
    visibility: hidden;
}

.tree-table-row-cell:selected{
    -fx-background-color:#000000aa;
}

.summary .key {
    -fx-text-fill: #387892;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-wrap-text:true;
    -fx-font-smoothing-type: gray;
    -fx-text-alignment:right;
}
.summary .value {
    -fx-font: 14px "Noto Sans";
}
.summary .header {
    -fx-font-weight:bold;
    -fx-font-size:1em;
    -fx-text-fill:#8d8d8d;
}
/*.text-area, .text-field {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1px;
}

.text-area:selected, .text-area:focused , text-field:selected, .text-field:focused{
    -fx-border-color: #387892;
    -fx-border-width: 2px;
}*/