/* 
    Created on : 27 May, 2017, 7:27:55 PM
    Author     : Siddhesh Rane 
*/

#diagnosticsText {
    -fx-text-fill : #696969;
}

.latlongspinner .increment-arrow-button {
    visibility: hidden;
}

.eye, .hand {
    visibility: hidden;
}

.tree-table-row-cell:selected{
    -fx-background-color:#000000aa;
}

/*.text-area, .text-field {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1px;
}

.text-area:selected, .text-area:focused , text-field:selected, .text-field:focused{
    -fx-border-color: #387892;
    -fx-border-width: 2px;
}*/